@model IEnumerable<FlyAir.Models.FlightModels.Flight>

@{
    ViewData["Title"] = "ViewAllFlights";
}



<div class="container-fluid">
    <h4>View All Flights</h4>
    <div>
        <a asp-controller="Admin" asp-action="AddFlight" class="btn btn-success">Add Flight</a>
    </div>
    <br /> 
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DepartDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ArrDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
            @Html.DisplayNameFor(model => model.SeatsRemain)
        </th>
                <th>
                    @Html.DisplayNameFor(model => model.PlaneID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OriginLoc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DestLoc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FlightSeatType)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArrDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
            @Html.DisplayFor(modelItem => item.SeatsRemain)
        </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlaneID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OriginLoc1.City), @Html.DisplayFor(modelItem => item.OriginLoc1.CountryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DestLoc1.City), @Html.DisplayFor(modelItem => item.DestLoc1.CountryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FlightSeatType.ID)
                </td>
                <td>
                    <a asp-action="EditFlight" asp-route-flightId="@item.ID" class="btn btn-success">Edit</a> |
                    <a asp-action="DeleteFlight" asp-route-flightId="@item.ID" class="btn btn-danger">Delete</a> |
                    <a asp-action="AddFlightStaffs" asp-route-flightId="@item.ID" class="btn btn-warning">Edit Staffs</a>
                    <a asp-action="AddFlightPlane" asp-route-flightId="@item.ID" class="btn btn-warning">Edit Plane</a>
                </td>
            </tr>
            }
        </tbody>
    </table>

</div>

