@using Microsoft.AspNetCore.Authentication

@model Identity.Dapper.Samples.Web.Models.AccountViewModels.LoginRegisterViewModel
@{
    ViewData["Title"] = "RegisterStaff";
}
@inject IAuthenticationSchemeProvider SchemeProvider

<link rel="stylesheet" href="~/css/loginRegister.css">

<div class="container ">
    <ul class="nav nav-tabs nav-justified">
        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#regDiv">REGISTER</a></li>
    </ul>
    <div class="tab-content">
        <div id="regDiv" class="tab-pane fade show active card">
            <div class="container">
                <form asp-controller="Account" asp-action="LoginRegister" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                    @Html.AntiForgeryToken()
                    <input type="hidden" asp-for="@Model.IsLogin" value="false" />
                    <input type="hidden" asp-for="@Model.IsStaff" value="true" />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="@Model.RegisterViewModel.Email" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="@Model.RegisterViewModel.Email" class="form-control" />
                            <span asp-validation-for="@Model.RegisterViewModel.Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.RegisterViewModel.Password" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="@Model.RegisterViewModel.Password" class="form-control" />
                            <span asp-validation-for="@Model.RegisterViewModel.Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.RegisterViewModel.ConfirmPassword" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="@Model.RegisterViewModel.ConfirmPassword" class="form-control" />
                            <span asp-validation-for="@Model.RegisterViewModel.ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <label>New Staff will be added to role Staff1 by default.</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-success">REGISTER</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}