@model FlyAir.ViewModels.FlightsInputsVM
@using FlyAir.Models.SearchModels
@{
    ViewData["Title"] = "FlightResults";
    var todayDate = DateTime.Today;
    var searchFlightTemp = SessionHelper.GetObjectFromJson<SearchFlight>(Context.Session, "searchFlightTemp");
    var goDate = searchFlightTemp.DepartDate;
    var returnDate = searchFlightTemp.ReturnDate;
    var originId = searchFlightTemp.OriginID;
    var destId = searchFlightTemp.DestID;
}

<link rel="stylesheet" href="~/lib/slick-1.8.1/slick.css">
<link rel="stylesheet" href="~/lib/slick-1.8.1/slick-theme.css">
<link rel="stylesheet" href="~/css/flightResults.css">


<div class="container-fluid marginBtmAdd">

    <form asp-controller="Booking" asp-action="SelectFlight" method="post" id="formPost">
        @Html.AntiForgeryToken()
        <h4>@Model.OriginName  -  @Model.DestName</h4><span class="asteriskSign" id="goFlightErr">&nbsp;</span>
        <div class="goSlider sliderCommon container" data-class-type="goSlider">
            @for (int i = -7; i < 7; i++)
            {
                <div class="slide" data-date="@Convert.ToDateTime(goDate.AddDays(i)).ToString("MM/dd/yyyy")">@goDate.AddDays(i).ToShortDateString()</div>
            }
        </div>
        <div id="goFlightResults">
            @{ Model.adjustGoFlight = true; }
            @await Html.PartialAsync("_FlightResultsPartial", Model)
        </div>
        @if (Model.ReturnFlights != null)
        {
            <h4>@Model.DestName  -  @Model.OriginName</h4><span class="asteriskSign" id="retFlightErr">&nbsp;</span>
            <div class="retSlider sliderCommon container" data-class-type="retSlider">
                @for (int i = -7; i < 7; i++)
                {
                    <div class="slide" data-date="@Convert.ToDateTime(returnDate.AddDays(i)).ToString("MM/dd/yyyy")">@returnDate.AddDays(i).ToShortDateString()</div>
                }
            </div>
            <div id="retFlightResults">
                @{ Model.adjustGoFlight = false; }
                @await Html.PartialAsync("_FlightResultsPartial", Model)
            </div>
        }
        <br />
        <br />
        <br />
        <input type="submit" class="btn btn-danger btn-red" value="NEXT" id="submitBtn" />
    </form>
    <button id="dummyBtn">dummy</button>
    <div class="popup">
        <span class="popuptext" id="myPopup">A Simple Popup!</span>
    </div>
</div>

@section Scripts{
    <script src="~/js/Flight/flightResults.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script>
        $(function () {
                    //===== variables
            var slide = $(".slide");
            var departDateIn = "";
            var goFlightResults = $("#goFlightResults");
            var retFlightResults = $("#retFlightResults");
            var departDateIn = "", returnDateIn = "", parentClass = "";
            var isAdjustGoFlight = true;
            var existingGroup = ""; var hasExistingGroup = false; var currUserConnId = "";

            //===============implementation

            //start signalR connection to hub
            var connection = new signalR.HubConnectionBuilder().withUrl("/bookingHub").build();
            connection.start().then(function () {

                //invoke to get current connection id
                connection.invoke("GetCurrConnId").catch(function (err) {
                    return console.error(err.toString());
                }).then(function (respData) {
                    currUserConnId = respData;
                    //alert("currConnId: " + currUserConnId);
                    });

                //invoke to get all existing groups and compare the location id. If match, means there is existing group. Join existing group. Else, new group is created when joined.
                connection.invoke("GetAllGroups").catch(function (err) {
                    return console.error(err.toString());
                }).then(function (respData) {
                    //alert(respData);
                    $.each(JSON.parse(respData), function (idx, obj) {
                        if ((@originId == obj.locId1 && @destId == obj.locId2) || (@originId == obj.locId2 && @destId == obj.locId1)) {
                            existingGroup = obj.groupNameAKAConnId;
                            hasExistingGroup = true;
                            return false;
                        } else {
                            existingGroup = "";
                        }
                    });

                    //overwrite existingGroup with currUserConnId if there is no existing group
                    if (!hasExistingGroup) {
                        existingGroup = currUserConnId;
                        //alert("existingGroup / currUserConnId: " + existingGroup);
                    }

                    //alert("has existing group: " + hasExistingGroup);

                    //after getting all existing groups, invoke to join group, based on whether there is existing group
                    connection.invoke("JoinGroup", existingGroup, hasExistingGroup, @originId, @destId).catch(function (err) {
                        return console.error(err.toString());
                    });
                });
                
            });

            //whenever a new booking is made and added to DB, a notification will be triggered. After the set period, notification disappears.
            connection.on("subsNewAdd", function (respData) {
                //use textContext to replace text to avoid XSS
                document.getElementById("myPopup").textContent = respData;
                document.getElementById("myPopup").classList.add("show");
                var counter = 10;
                setInterval(function () {
                    counter--;
                    if (counter < 0) {
                        document.getElementById("myPopup").classList.remove("show");
                    } else {
                        //countDown.text(counter.toString());
                    }
                }, 1000);
            });


            //when the slide of the slider is clicked, it becomes current slide and related flight details are obtained from ajax
            slide.click(function () {
                //get clicked slide index
                var slide_active = parseInt($(this).attr('data-slick-index'));
                //get parent class name
                parentClass = $(this).parent().parent().parent().attr('data-class-type');
                //move slick to clicked option
                $("." + parentClass).slick('slickGoTo', slide_active);

                processFlightDateSelection(parentClass)
            });

            $(".slick-next,.slick-prev").click(function () {
                //get parent class name
                parentClass = ($(this).parent().attr('data-class-type'));

                processFlightDateSelection(parentClass)
            });

            //===================functions
            //function to process the flight date selection, to differentiate goSlider and retSlider
            function processFlightDateSelection(parentClass) {
                if (parentClass === "goSlider") {
                    departDateIn = $("." + parentClass + " .slick-current").attr("data-date");
                    returnDateIn = $(".retSlider .slick-current").attr("data-date");
                    isAdjustGoFlight = true;
                } else if (parentClass === "retSlider") {
                    departDateIn = $(".goSlider .slick-current").attr("data-date");
                    returnDateIn = $("." + parentClass + " .slick-current").attr("data-date");
                    isAdjustGoFlight = false;
                }
                getFlightAjax(departDateIn, returnDateIn, isAdjustGoFlight);
            }

            function getFlightAjax(departDateIn, returnDateIn, isAdjustGoFlight) {
                $.ajax({
                    url: '@Url.Content("/Flight/SearchFlightShort")',
                    type: "POST",
                    contentType: "application/json; charset=utf-8;",
                    //datatype is what type Jquery ajax call expects in return.
                    dataType: "html",
                    data: JSON.stringify({
                        departDate: departDateIn,
                        returnDate: returnDateIn,
                        //departDate: "05/03/2019",
                        //returnDate: "06/03/2019",
                        toAdjustGoFlight: isAdjustGoFlight
                    }),
                    headers: {
                        RequestVerificationToken:
                            $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                    async: true,
                    success: function (respData) {
                        if (isAdjustGoFlight) {
                            goFlightResults.html(respData);
                        } else if (!isAdjustGoFlight) {
                            retFlightResults.html(respData);
                        }

                    }
                });
            }

        });
    </script>
}

@*returnDateIn = '@Convert.ToDateTime(searchFlightTemp.ReturnDate).ToString("MM/dd/yyyy")';*@