@model FlyAir.Models.PublicMemberModels.PublicMemberAccDetVM
@{
    ViewData["Title"] = "MemberAccountDetails";
    var latestFlight = Model.LatestFlight;
}
<style>
    label {
        font-weight: bold;
    }
    #menuDiv a {
        width: 250px;
        height: 70px;
        margin-bottom: 10px;
    }

    #menuDiv .row div {
        /*margin: 5px 5px 5px 5px;*/
    }
    #upcFlightBox {
        background-color: var(--myGreen);
        border: none;
        border-radius: 0px;
        padding: 10px;
        font-weight: bold;
    }
    #userMain{
        border: none;
    }
</style>

<div class="container">
    <h2>Your Account Details</h2>
    <div class="card" style="margin-bottom: 50px;" id="userMain">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <label asp-for="User.Email"></label>
                </div>
                <div class="col-md-8">
                    <div>@Model.User.Email</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label asp-for="User.UserName"></label>
                </div>
                <div class="col-md-8">
                    <div>@Model.User.UserName</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label>Upcoming Flight:</label>
                </div>
                <div class="col-md-4">
                    @if (latestFlight != null)
                    {
                        <div class="card container" id="upcFlightBox">
                            <div>@latestFlight.OriginLoc1.City, @latestFlight.OriginLoc1.CountryName to @latestFlight.DestLoc1.City, @latestFlight.DestLoc1.CountryName</div>
                            <div>@latestFlight.DepartDateTime.ToString("dd MMM yyyy")</div>
                            <div>@latestFlight.DepartDateTime.ToShortTimeString()</div>
                        </div>
                    }
                    else
                    {
                        <div>No upcoming flights</div>
                    }

                </div>
            </div>
            <br />
            <br />
            <br />

            <div id="menuDiv">
                <div class="row">
                    <div class="col-md-4">
                        <a asp-controller="Booking" asp-action="GetMemberBookings" class="btn btn-primary">Your Bookings</a>
                    </div>
                    <div class="col-md-4">
                        <a asp-controller="Manage" asp-action="ChangePassword" class="btn btn-primary">Change Password</a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

