@model FlyAir.Models.StaffModels.StaffVM
@{
    ViewData["Title"] = "Index";
    var flights = Model.Flights;
    var flightCount = 0;
    if(Model.Flights.Count() > 0)
    {
        flightCount = Model.Flights.Count();
    }
}

<link rel="stylesheet" href="~/css/staffDashboard.css">


<div class="container">
    <h2>Staff Dashboard</h2>

    <div>
        <h4>Your Work</h4>
        <div class="card yourWorkCard">
            <div id="title">You have @flightCount flight duty coming up.</div>
            <div id="flightDet">
                @foreach (var flight in flights)
                {
                <div class="form-control">
                    <div class="row">
                        <div class="col-md-3">
                            <label>Flight ID:</label>
                        </div>
                        <div class="col-md-9">
                            @flight.ID
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>From:</label>
                        </div>
                        <div class="col-md-9">
                            @flight.OriginLoc1.City
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Depart Time:</label>
                        </div>
                        <div class="col-md-9">
                            @flight.DepartDateTime
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>To:</label>
                        </div>
                        <div class="col-md-9">
                            @flight.DestLoc1.City
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Arrival Time:</label>
                        </div>
                        <div class="col-md-9">
                            @flight.ArrDateTime
                        </div>
                    </div>
                    <hr />
                </div>
                }
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="card">
        <div class="form-control">
            <div class="row">
                <div class="col-md-3">
                    <label asp-for="ID"></label>:
                </div>
                <div class="col-md-9">
                    @Model.ID
                </div>
            </div>
        </div>
        <div class="form-control">
            <div class="row">
                <div class="col-md-3">
                    <label asp-for="Name"></label>:
                </div>
                <div class="col-md-9">
                    @Model.Name
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
</div>