@model FlyAir.Models.StaffModels.StaffVM
@{
    ViewData["Title"] = "Index";
    var flights = Model.Flights;
    var flightCount = 0;
    if(Model.Flights.Count() > 0)
    {
        flightCount = Model.Flights.Count();
    }
}

<link rel="stylesheet" href="~/css/staffDashboard.css">


<div class="container">
    <h2>Admin Dashboard</h2>

    <div>
        <h4>Your Work</h4>
        <div class="card yourWorkCard">
            <div id="title">You have @flightCount flight duty coming up.</div>
            @foreach (var flight in flights)
            {
                <div>Flight ID: @flight.ID</div>
                <div>From: @flight.OriginLoc1.City</div>
                <div>Depart Time: @flight.DepartDateTime</div>

                <div>To: @flight.DestLoc1.City</div>
                <div>Arrival Time: @flight.ArrDateTime</div>

                <hr />
            }
        </div>
    </div>

    <div class="card">
        <div class="form-control">
            <div class="row">
                <div class="col-md-3">
                    <label asp-for="ID"></label>:
                </div>
                <div class="col-md-9">
                    @Model.ID
                </div>
            </div>
        </div>
        <div class="form-control">
            <div class="row">
                <div class="col-md-3">
                    <label asp-for="Name"></label>:
                </div>
                <div class="col-md-9">
                    @Model.Name
                </div>
            </div>
        </div>
    </div>
    
</div>