@using FlyAir.Models.BookingModels;
@{
    ViewData["Title"] = "ConfirmBooking";
    var bookingDetails = SessionHelper.GetObjectFromJson<BookingVM>(Context.Session, "tempBookingVMDetails");
    int guestCount = 0;
}


<div class="container">
    <h2>Confirm Booking</h2>
    <form asp-controller="Booking" asp-action="ConfirmBooking" method="post">
        @foreach (var b in bookingDetails.BookingNonMembers)
        {
            <div class="card container">
                <div class="form-group">
                    <div><strong>Guest @(++guestCount)</strong></div>
                    <div class="col-md-12 row">
                        <div class="col-md-3">Name: </div>
                        <div class="col-md-9">@b.Name</div>
                    </div>
                    <div class="col-md-12 row">
                        <div class="col-md-3">Age: </div>
                        <div class="col-md-9">@b.Age</div>
                    </div>
                    <div class="col-md-12 row">
                        <div class="col-md-3">Date Of Birth: </div>
                        <div class="col-md-9">@b.DateOfBirth.Value.ToShortDateString()</div>
                    </div>
                    <div class="col-md-12 row">
                        <div class="col-md-3">Passport ID: </div>
                        <div class="col-md-9">@b.PassportNum</div>
                    </div>
                </div>
            </div>
            <br />
        }

        <div><input type="submit" class="btn btn-danger btn-red" value="CONFIRM" /></div>
        <div><a asp-controller="Booking" asp-action="GoToFillInBookingDetails" class="btn btn-outline-warning">EDIT</a></div>
    </form>
    
    <br />
</div>
