@using FlyAir.Models.BookingModels;
@using mySession.Data.Extensions;
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Identity
@using FlyAir.Models.IdentityEntities
@inject SignInManager<CustomUser> _signInManager
@inject UserManager<CustomUser> _userManager

@model FlyAir.Models.BookingModels.BookingVM

@{
    ViewData["Title"] = "FillInBookingDetails";
    var idx = 0;
    var bookingDetails1 = SessionHelper.GetObjectFromJson<Booking>(Context.Session, "tempBookingDetails");
    //var bookingDetails = Model;
    var goFlight = bookingDetails1.GoFlight;
    var returnFlight = bookingDetails1.ReturnFlight;
    CustomUser currUser = null;
    if (_signInManager.IsSignedIn(User))
    {
        currUser = _userManager.GetUserAsync(Context.User).Result;
    }
}

<div class="container marginBtmAdd">

    <h2>Flight Details</h2>
    <div class="card" style="padding: 15px;">
        <div>@goFlight.OriginLoc1.City, @goFlight.OriginLoc1.CountryName - @goFlight.OriginLoc1.City, @goFlight.OriginLoc1.CountryName</div>
        <div>Go Flight Departure Time: @goFlight.DepartDateTime</div>
        <div>Go Flight Arrival Time: @goFlight.ArrDateTime</div>
        <br />


        @if (returnFlight != null)
        {
            <div>@returnFlight.OriginLoc1.City, @returnFlight.OriginLoc1.CountryName - @returnFlight.OriginLoc1.City, @returnFlight.OriginLoc1.CountryName</div>
            <div>Return Flight Departure Time: @returnFlight.DepartDateTime</div>
            <div>Return Flight Arrival Time: @returnFlight.ArrDateTime</div>
        }
    </div>

    <br />
    <hr />
    <h2>Guest Details</h2>
    <br />
    <form asp-controller="Booking" asp-action="PostUserInfo" method="post">
        @Html.AntiForgeryToken()
        @for (idx = 0; idx < Model.BookingNonMembers.Count(); idx++)
        {
            <div class="card" style="background-color: var(--myGreen); border-radius:0; padding: 10px; box-shadow:#ccc 10px 10px ;">
                <div><strong>Guest @(idx + 1)</strong></div>
                @if (idx == 0 && currUser != null)
                {
                    <div class="form-group">
                        <div class="col-md-12">
                            <label asp-for="@Model.BookingNonMembers[idx].Name"></label><span class="asteriskSign">&nbsp;&#42;</span>
                            <input asp-for="@Model.BookingNonMembers[idx].Name" type="text" class="form-control" value="@currUser.UserName" />
                            <span asp-validation-for="@Model.BookingNonMembers[idx].Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label asp-for="@Model.BookingNonMembers[idx].DateOfBirth"></label><span class="asteriskSign">&nbsp;&#42;</span>
                            <input asp-for="@Model.BookingNonMembers[idx].DateOfBirth" type="date" class="form-control" />
                            <span asp-validation-for="@Model.BookingNonMembers[idx].DateOfBirth" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label asp-for="@Model.BookingNonMembers[idx].PassportNum"></label><span class="asteriskSign">&nbsp;&#42;</span>
                            <input asp-for="@Model.BookingNonMembers[idx].PassportNum" type="text" class="form-control" />
                            <span asp-validation-for="@Model.BookingNonMembers[idx].PassportNum" class="text-danger"></span>
                        </div>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <div class="col-md-12">
                            <label asp-for="@Model.BookingNonMembers[idx].Name"></label><span class="asteriskSign">&nbsp;&#42;</span>
                            <input asp-for="@Model.BookingNonMembers[idx].Name" type="text" class="form-control" />
                            <span asp-validation-for="@Model.BookingNonMembers[idx].Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label asp-for="@Model.BookingNonMembers[idx].DateOfBirth"></label><span class="asteriskSign">&nbsp;&#42;</span>
                            <input asp-for="@Model.BookingNonMembers[idx].DateOfBirth" type="date" class="form-control" />
                            <span asp-validation-for="@Model.BookingNonMembers[idx].DateOfBirth" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label asp-for="@Model.BookingNonMembers[idx].PassportNum"></label><span class="asteriskSign">&nbsp;&#42;</span>
                            <input asp-for="@Model.BookingNonMembers[idx].PassportNum" type="text" class="form-control" />
                            <span asp-validation-for="@Model.BookingNonMembers[idx].PassportNum" class="text-danger"></span>
                        </div>
                    </div>
                }
            </div>
            <br />
        }
        <br />
        <input type="submit" value="SUBMIT" class="btn btn-success" />
    </form>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}